{% extends 'base.html.twig' %}

{% block title %}Liste des Factures{% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <h1 class="mb-4">Liste des Factures</h1>

    <form method="get" action="{{ path('app_factures_index') }}">
        <div class="mb-3">
            <label for="client" class="form-label">Rechercher par client:</label>
            <input type="text" class="form-control" id="client" name="client" value="{{ searchClient }}">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </form>

    {% if factures is not empty %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Numéro de Facture</th>
                <th>Date</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
            <tr>
                <td>{{ facture.numero }}</td>
                <td>{{ facture.date }}</td>
                <td>{{ facture.client }}</td>
                <td>
                    <a href="{{ path('app_maj_facture_edit', { formId: facture.id }) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucune facture trouvée.</p>
    {% endif %}
</div>
{% endblock %}
